#web_bg{
    /*background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);*/
    background-image: linear-gradient(-225deg, #f9e2d4 10%, #f6dee1 78%, #f9dede 100%);
}
#footer {
    /* 与背景渐变效果一致*/
    /*background-image: linear-gradient(-225deg, #d6badf 0%, #B8DCFF 28%, #58abf3 100%);*/
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
    
}
#recent-posts>.recent-post-item,.layout_page>div:first-child:not(.recent-posts),.layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
    background-color: rgba(255, 255, 255, 0.8);
}

#aside-content .card-widget {
    background-color: rgba(255, 255, 255, 0.8);
}

#footer:before {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
}